<h2> Update Employee </h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" value="{{ employee.name }}" required><br>
    <input type="email" name="email" placeholder="Email" value="{{ employee.email }}" required><br>
    <input type="text" name="department" placeholder="Department" value="{{ employee.department }}" required><br>
    <input type="number" name="salary" placeholder="Salary" value="{{ employee.salary }}" required><br>
    <button type="submit">Update Employee</button>
</form>